<nav id="navbar">
  <div class="d-flex justify-content-between adminHeader">
      <a href="/" id="button" class="btn btn-primary">HOME</a>

      <h4 class="navbarTitle">Hack the Blog (ADMIN)</h4>
      
      <a href="/" id="button" class="btn btn-danger">Log Out</a>
    </div>
  </div>
</nav>
