<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <form class="border p-3 mb-2" method="post" action="/login">
        <div class="modal-header">
          <h3 class="modal-title" id="formModalLabel">Iniciar Sesion</h3>
        </div>
        <div class="form-group mt-2">
          <label for="">Email</label>
          <input type="email" name="email" class="form-control" placeholder="Ingresar email..." />
        </div>
        <div class="form-group mt-2">
          <label for="">Password</label>
          <input
            type="text"
            name="password"
            class="form-control"
            id="password"
            placeholder="Ingresar contraseña..."
          />
        </div>
        <button type="submit" class="btn btn-success mt-2">Enviar</button>
      </form>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
